.dropzone {
    background-color: #b8b6b6;
    border: dashed 4px transparent;
    margin: 10px auto 30px;
    padding: 10px;
    border-radius: 90% 50% 70% 20% / 50% 40% 50% 90%;
    width: 55%;
    height: 40vh;
    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    min-width: 40px;
    touch-action: none;
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

#radish{
    transform: rotate(-10deg);
}

#strawberry{
    transform: rotate(15deg);
}
#onion{
    transform: rotate(45deg);
}

#mushroom{
    transform: rotate(-35deg);
}

#peach{
    transform: rotate(-15deg);
}
