#top_start_container {
    position: relative;
    overflow: hidden; /* 必要に応じて親要素のオーバーフローを設定 */
}

.dropzone {
    background-color: #b8b6b6;
    border: dashed 4px transparent;
    margin: 10px auto 30px;
    padding: 10px;
    border-radius: 90% 50% 70% 20% / 50% 40% 50% 90%;
    width: 55%;
    height: 40vh;
    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    min-width: 40px;
    touch-action: none;
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

#radish{
    transform: rotate(-10deg);
}

#strawberry{
    transform: rotate(15deg);
}
#onion{
    transform: rotate(45deg);
}

#mushroom{
    transform: rotate(-35deg);
}

#peach{
    transform: rotate(-15deg);
}
.gallery-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fadeInOut 16s forwards; /* 追加された画像分アニメーション時間を延ばす */
}

.gallery-image:nth-child(1) {
    animation-delay: 0s;
}

.gallery-image:nth-child(2) {
    animation-delay: 2s;
}

.gallery-image:nth-child(3) {
    animation-delay: 4s;
}

.gallery-image:nth-child(4) {
    animation-delay: 6s;
}

.gallery-image:nth-child(5) {
    animation-delay: 8s;
}

.gallery-image:nth-child(6) {
    animation-delay: 10s;
}

.gallery-image:nth-child(7) {
    animation-delay: 12s;
}

.gallery-image:nth-child(8) {
    animation-delay: 14s; /* 新しい画像の遅延を設定 */
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1; /* 最後の画像はそのまま表示 */
    }
}
