#top_start_container {
    position: relative;
    overflow: hidden; /* 必要に応じて親要素のオーバーフローを設定 */
}

.dropzone {
    background-color: #b8b6b6;
    border: dashed 4px transparent;
    margin: 10px auto 30px;
    padding: 10px;
    border-radius: 90% 50% 70% 20% / 50% 40% 50% 90%;
    width: 55%;
    height: 40vh;
    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    min-width: 40px;
    touch-action: none;
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

#radish{
    transform: rotate(-10deg);
}

#strawberry{
    transform: rotate(15deg);
}
#onion{
    transform: rotate(45deg);
}

#mushroom{
    transform: rotate(-35deg);
}

#peach{
    transform: rotate(-15deg);
}
#melon{
    transform: rotate(-45deg);
}
#lettuce{
    transform: rotate(35deg);
}
#album_container {
    height: 100vh; /* 画面全体の高さを固定 */
    overflow: hidden; /* スクロールを防ぐ */
}

.gallery-image {
    position: absolute; /* absoluteではなくrelativeで親要素内で中央揃え */
    width: 100%;
    max-height: calc(100% - 20vh); /* 上下20vh分の余白を確保 */
    object-fit: cover;
    opacity: 0;
    animation: fadeInOut 32s forwards; /* アニメーション全体の時間を変更 */
}

.gallery-image:nth-child(1) {
    animation-delay: 0s;
}

.gallery-image:nth-child(2) {
    animation-delay: 4s;
}

.gallery-image:nth-child(3) {
    animation-delay: 8s;
}

.gallery-image:nth-child(4) {
    animation-delay: 12s;
}

.gallery-image:nth-child(5) {
    animation-delay: 16s;
}

.gallery-image:nth-child(6) {
    animation-delay: 20s;
}

.gallery-image:nth-child(7) {
    animation-delay: 24s;
}

.gallery-image:nth-child(8) {
    animation-delay: 28s; /* 新しい画像の遅延を設定 */
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    60% {
        opacity: 1; /* 表示時間を延長 */
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 0; /* 最後の画像はそのまま表示 */
    }
}

.gallery-image.active {
    animation: none; /* JavaScriptで最後の画像を固定 */
    opacity: 1; /* 最後の画像を表示したままにする */
}


//ミッションクリアからアルバムへの切替
.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

